<form method="POST" action="/new">
  <h2>Submit post</h2>
  <input type="text" name="messageAuthor" placeholder="Author" />
  <input type="text" name="messageText" placeholder="Message" />
  <button type="submit">submit</button>
</form>
