<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message board</title>
  </head>
  <body>
    <p>Hello world, index page</p>
    <ul>
      <% if (messages && messages.length) { %> <% messages.forEach(message => {
      %>
      <li>
        <strong><%= message.author %></strong>: <%= message.message %>
        <br />
        <small><%= new Date(message.date).toLocaleString() %></small>
      </li>
      <% }) %> <% } else { %>
      <li>No messages available.</li>
      <% } %>
    </ul>
    <a href="/new">Submit a message</a>
  </body>
</html>
